@import "compass";
@import "compass/css3";
@import 'fonts';
@import 'var';
@import 'reset';
@import 'main';
@import "breakpoint";
@import "bxslider";
@import "lightslider";

%clear {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

%quote {
    &:before {
        content: '\201d';
        display: inline-block;
        position: absolute;
        font-size: 72px;
        font-weight: 400;
        color: $green;;
        font-family: $font-base;
        margin-left: -36px;
        margin-top: -21px;
    }
}

%line {
    &:after {
        content: '';
        display: block;
        position: relative;
        margin: 40px auto 0;
        height: 3px;
        background-color: $green;;
        width: 60px;
    }
}

%headers {
    h2 {
        font-size: 24px;
        color: $black;
        font-family: $font-base;
        position: relative;
        margin-bottom: 12px;
        @extend %quote;
    }

    strong {
        position: relative;
        text-transform: uppercase;
        font-size: 30px;
        display: inline-block;
        font-family: $font-base;
        font-weight: 500;
        margin-bottom: 73px;
        @extend %line;
    }
}

.readAll {
    font-size: 14px;
    padding-right: 24px;
    color: #333;
    text-transform: uppercase;
    font-family: $font-base;
    font-weight: bold;
    text-decoration: none;
    display: inline-block;
    margin: 50px auto 0;
    background: url(../img/arrow.png);
    background-repeat: no-repeat;
    background-position: right 2px;
}

body {
    &.-top-pading {
        padding-top: 150px;

        @include bp(max-width, $bp-xlarge) {
            padding-top: 161px;
        }

        @include bp(max-width, $bp-large) {
            padding-top: 233px;
        }

        @include bp(max-width, $bp-medium) {
            padding-top: 134px;
        }

        @include bp(max-width, $bp-small) {
            padding-top: 169px;
        }
    }
}

@import "modules/header";
@import "modules/footer";
@import "modules/menu";
@import "modules/breadcrumbs";
@import "modules/slider";
@import "modules/news";

//Pages
@import "modules/main";
@import "modules/teatr";
@import "modules/club";
@import "modules/galery";