@import "compass";
@import "compass/css3";
@import 'fonts/fonts';
@import 'var';
@import 'reset';
@import 'main';

.wr {
    max-width: 1200px;
    min-width: 320px;
    padding: 0;
    margin: 0 auto;
}
