@import "compass";
@import "compass/css3";
@import 'fonts';
@import 'var';
@import 'reset';
@import 'main';

.wr {
    max-width: 1180px;
    min-width: 320px;
    padding: 0 35px;
    margin: 0 auto;
    position: relative;

    &-2 {
        max-width: 1900px;
    }
}

%clear {
    &:after {
        content: '';
        display: table;
        clear: both;
    }
}

%quote {
    &:before {
        content: '\201d';
        display: inline-block;
        position: absolute;
        font-size: 72px;
        font-weight: 400;
        color: #84d83c;
        font-family: 'PF DinText Pro';
        margin-left: -36px;
        margin-top: -21px;
    }
}

%line {
    &:before {
        content: '';
        display: block;
        position: absolute;
        top: 75px;
        margin-left: -30px;
        left: 50%;
        height: 3px;
        background-color: #84d83c;
        width: 60px;
    }
}

%headers {
    h2 {
        font-size: 24px;
        color: #000;
        font-family: PF DinText Pro Light;
        position: relative;
        margin-bottom: 12px;
        @extend %quote;
    }

    strong {
        position: relative;
        text-transform: uppercase;
        font-size: 30px;
        display: inline-block;
        font-family: PF DinText Pro Medium;
        font-weight: 500;
        margin-bottom: 73px;
        @extend %line;
    }
}

header {
    & {
        position: relative;
        padding-bottom: 20px;
        background-color: #83818c;
        text-decoration: none;
        color: $white;
    }

    a {
        text-decoration: none;
    }

    .logo {
        & {
            float: left;
            margin-top: 15px;
            margin-left: 10px;
        }

        img {
            display: block;
        }
    }

    .search {
        margin-top: 15px;
        float: right;
        height: 32px;
        margin-left: 200px;
        width: 320px;
        text-align: right;
        border: 1px solid red;

        input {
            background-color: $grey-5_1;
            color: $grey-1_3;
            border: none;
            width: 100px;
        }

        input::placeholder {
            color: $grey-1_3;
            font-style: italic;
            text-decoration: underline;
        }
    }

    .top-menu {
        & {
            float: right;
        }

        a {
            font-family: 'PF DinText Pro';
            text-transform: uppercase;
            border-top: 2px solid transparent;
            margin-left: 20px;
            font-size: 16px;
            padding-top: 13px;
            float: left;

            &.active {
                border-top-color: #fefda0;
            }

            &:first-child {
                margin-left: 0;
            }
        }
    }

    .main-menu {
        & {
            clear: both;
            padding-top: 19px;
        }

        ul {
        }

        li {
            margin-left: 23px;
            margin-right: 29px;
            position: relative;
            display: inline-block;

            &:before {
                content: '';
                display: block;
                position: absolute;
                width: 7px;
                height: 7px;
                border-radius: 50%;
                background-color: #faff96;
                top: 5px;
                left: -23px;
            }

            &:last-child {
                margin-right: 0;
            }
        }

        a {
            color: #ffffff;
            text-transform: uppercase;
            font-family: 'PF DinText Pro';
            font-weight: bold;
            font-size: 16px;

            &:hover {
                color: $green;
            }
        }
    }
}

.slider {
    & {
        clear: both;
        position: relative;
        height: 720px;
    }

    li {
        & {
            text-align: center;
            height: 720px;
            position: relative;
            background-position: bottom center;
            padding-top: 313px;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                z-index: 1;
                height: 625px;
                width: 100%;
                background-color: rgba(0, 0, 0, 0.45);
            }
        }

        h2, p, .slideButton {
            color: #fff;
            font-family: 'PF DinText Pro';
            position: relative;
            z-index: 2;
        }

        h2 {
            font-size: 48px;
            font-weight: 500;
            margin-bottom: 30px;
            text-transform: uppercase;
        }

        p {
            font-size: 24px;
            font-weight: normal;
            line-height: 100%;
            margin-bottom: 51px;
        }

        .slideButton {
            width: 265px;
            border: 2px solid rgba(255, 255, 255, 0.76);
            font-weight: bold;
            font-size: 16px;
            display: inline-block;
            padding: 14px 0;
            text-transform: uppercase;
        }
    }

    .nav {
        top: 50%;
        position: absolute;
        z-index: 999;
        margin-top: -15px;
        width: 100%;

        .arrow {
            & {
                width: 17px;
                height: 30px;
                display: block;
                position: absolute;
                cursor: pointer;
                opacity: 0.7;

                &:hover {
                    opacity: 1;
                }
            }

            &.-left, &.-right {
                &:before {
                    content: '';
                    display: block;
                    position: absolute;
                    width: 22px;
                    height: 22px;
                    border-color: $white;
                    border-style: solid;
                    border-width: 5px 5px 0 0;
                }
            }

            &.-left {
                left: 0;

                &:before {
                    transform: rotate(-135deg);
                    right: 0;
                }
            }

            &.-right {
                right: 0;

                &:before {
                    transform: rotate(45deg);
                    left: 0;
                }
            }
        }

        &-disc {
            & {
                font-size: 0;
                width: 100%;
                z-index: 5;
                position: absolute;
                text-align: center;
                bottom: 40px;
            }

            a {
                border: 1px solid white;
                border-radius: 50%;
                width: 15px;
                height: 15px;
                display: inline-block;
                position: relative;
                margin-left: 10px;

                &.active {
                    &:before {
                        content: '';
                        display: block;
                        position: absolute;
                        top: 50%;
                        left: 50%;
                        width: 8px;
                        height: 8px;
                        border-radius: 50%;
                        background-color: #fff;
                        @include transform(translate(-50%, -50%));
                    }
                }

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }
}

.about {
    margin-top: 45px;

    .text {
        & {
            width: 100%;
            height: 50%;
            text-align: center;
            @extend %headers;
        }

        h3 {
            font-size: 24px;
            font-weight: normal;
            margin-bottom: 15px;
            display: block;
            color: #333;
        }

        h4 {
            font-size: 18px;
            color: #333;
            font-weight: 400;
            text-transform: none;
            margin-left: -5px;
            margin-bottom: 0;
        }

        .first, .last {
            color: $grey-5_1;
        }

        .first {
            margin-bottom: 20px;
            text-align: center;

            a {
                font-size: 12px;
                font-weight: 600;
            }
        }

        .last {
        }
    }
}

.color-boxes {
    width: 100%;
    height: 50%;
    margin-bottom: 70px;
    margin-top: 50px;

    ul {
        @extend %clear;
        margin: 0 -15px;
    }

    li {
        padding: 0 15px;
        width: 25%;
        float: left;
        list-style: none;
    }

    .box {
        transition: all .4s ease;
        position: relative;
        height: 480px;
        background-color: grey;
        background-repeat: no-repeat;
        text-align: center;

        &:hover {
            opacity: 0.8;
        }

        &.-green {
            background: linear-gradient(to bottom, #1f682b, #64c945);

            .button:hover {
                background-color: #faa828;
            }
        }

        &.-blue {
            background: linear-gradient(to top, #00529c, #227bbd);

            .button:hover {
                background-color: #e91e1a;
            }
        }

        &.-orange {
            background: linear-gradient(to bottom, #e9781b, #faa828);

            .button:hover {
                background-color: #64c945;
            }
        }

        &.-red {
            margin-right: 0;
            background: linear-gradient(to top, #b71415, #e91e1a);

            .button:hover {
                background-color: #227bbd;
            }
        }
    }

    .img {
        position: relative;
        overflow: hidden;

        img {
            max-width: 100%;
            margin-bottom: 24px;
        }
    }

    h4 {
        text-transform: uppercase;
        margin-bottom: 19px;
        color: $white;
        font-family: "PF DinText Pro Medium";
        font-size: 18px;
    }

    p {
        color: $white;
        line-height: 22px;
    }

    .button {
        transition: all .3s ease;
        margin: 0 auto;
        display: block;
        text-decoration: none;
        text-align: center;
        color: #ffffff;
        height: 32px;
        line-height: 32px;
        width: 185px;
        position: absolute;
        left: 50%;
        text-transform: uppercase;
        border: 1px solid #ffffff;
        cursor: pointer;
        border-radius: 20px;
        font-weight: 600;
        bottom: 25px;
        margin-left: -92.5px;
    }
}

.form {
    width: 100%;
    height: 641px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../img/form.jpg');

    .title {
        & {
            text-align: center;
            padding-top: 50px;
            margin-bottom: -6px;
            @extend %headers;
        }

        h2, strong {
            color: $white;
        }
    }

    form {
        label {
            & {
                width: 31.73%;
                display: inline-block;
                margin-right: 2%;
                font-size: 24px;
                font-weight: normal;
                color: #84d83c;
                margin-bottom: 40px;
            }

            &:nth-child(3) {
                margin-right: 0;
            }

            &.text {
                font-size: 16px;
                color: $white;
                width: 100%;
                margin-bottom: 31px;

                textarea {
                    width: 100%;
                    height: 145px;
                    border: none;
                    border-radius: 5px;
                    margin-top: 7px;
                }
            }

            input {
                border: none;
                border-radius: 5px;
                width: 100%;
                margin-top: 7px;
                height: 40px;
            }
        }

        .submit {
            width: 266px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            margin-right: 40px;
            background-color: #0099ff;
            color: #ffffff;
            display: inline-block;
            font-size: 16px;
            text-transform: uppercase;
        }

        p {
            display: inline-block;
            font-size: 16px;
            width: 750px;
            vertical-align: sub;
            color: $white;
            font-style: italic;
        }
    }
}

.forum {
    & {
        height: 647px;
        width: 100%;
        background-color: $white;
    }

    .title {
        text-align: center;
        clear: both;
        padding-top: 45px;
        @extend %headers;
    }

    ul {
        li {
            & {
                padding: 15px 25px 25px 25px;
                width: 22.5%;
                position: relative;
                height: 275px;
                float: left;
                margin-left: 3.3%;
                box-shadow: 1px 2px 5px #888;
            }
        }

        address, p, .message, a {
            font-size: 12px;
        }

        time, h4 {
            margin-bottom: 15px;
        }

        time {
            color: $grey-3_1;
            font-size: 12px;

            span {
                color: $grey-7;
                font-size: 12px;
            }
        }

        h4 {
            font-size: 14px;
            margin-top: 15px;
            text-transform: uppercase;
            font-weight: 600;
            color: black;
        }

        address {
            color: $grey-6;
            margin-bottom: 20px;
        }

        p {
            color: $grey-7;
            margin-bottom: 40px;
        }

        a {
            text-transform: uppercase;
            font-weight: 700;
            color: $blue_1;
            margin-right: 30px;
            text-decoration: none;

            &:hover {
                color: $blue_light;
            }
        }

        .message:hover, .share:hover {
            cursor: pointer;
        }

        .message {
            width: 30px;
            position: absolute;
            bottom: 13px;
            line-height: 30px;
            height: 30px;
            right: 43px;
            text-align: right;
            background-image: url(../img/messa.png);
            background-size: cover;
        }

        .numb {
            color: $blue;
            position: absolute;
            right: 60px;
            font-size: 12px;
            bottom: 21px;
        }

        .share {
            width: 15px;
            height: 15px;
            background-image: url(../img/share.png);
            background-repeat: no-repeat;
            background-size: cover;
            position: absolute;
            right: 0;
            bottom: 21px;
        }
    }

    .readAll {
        font-size: 12px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
        margin-left: 42%;
        margin-top: 50px;
        text-decoration: none;
        display: inline-block;

        .arr {
            width: 15px;
            height: 13px;
            background-image: url(../img/arrow.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            margin-left: 10px;
        }
    }
}

.programms {
    width: 100%;
    float: left;
    position: relative;
    padding-bottom: 50px;
    background: linear-gradient(to top, #e3e3e5, #f5f6f8);

    .title {
        & {
            text-align: center;
            clear: both;
            padding-top: 45px;
        }

        h2 {
            font-size: 20px;
            color: $grey-7;
            margin-bottom: 15px;

            span {
                font-size: 50px;
                color: #84d83c;
                margin-right: 25px;
                margin-left: -40px;
            }
        }

        strong {
            position: relative;
            text-transform: uppercase;
            font-size: 25px;
            display: inline-block;
            font-weight: 600;
            margin-bottom: 70px;
            color: $grey-9;

            &:before {
                content: '';
                display: block;
                position: absolute;
                top: 60px;
                left: 45%;
                height: 3px;
                background-color: $green;
                width: 50px;
            }
        }
    }

    .watchAll {
        font-size: 14px;
        font-weight: 600;
        color: #333;
        text-transform: uppercase;
        bottom: 17px;
        left: 41.5%;
        text-decoration: none;
        position: absolute;

        .arr {
            width: 15px;
            height: 13px;
            background-image: url(../img/arrow.png);
            background-repeat: no-repeat;
            background-size: cover;
            display: inline-block;
            margin-left: 10px;
        }
    }

    //.bg-prog {
    //    width: 100%;
    //    height: 425px;
    //    background-image: url(../img/bg-prog.jpg);
    //    background-repeat: no-repeat;
    //    background-size: cover;
    //}

    .prog {
        &-1,
        &-2,
        &-3,
        &-4,
        &-5,
        &-6 {
            & {
                width: 33%;
                height: 315px;
                float: left;
                position: relative;
                text-align: center;
                background-image: url(../img/bg-prog-1.jpg);
                background-repeat: no-repeat;
                background-size: cover;
                margin-right: 0.5%;
                margin-bottom: 0.5%;
            }

            a {
                background-color: rgba(255, 0, 0, 0.7);
                position: absolute;
                bottom: 0;
                left: 24.5%;
                height: 22%;
                width: 50%;
                line-height: 220%;
            }
        }

        &-2 {
            background-image: url(../img/bg-prog-2.jpg);

            a {
                background-color: rgba(0, 128, 0, 0.7);
            }
        }

        &-3 {
            background-image: url(../img/bg-prog-3.jpg);
            margin-right: 0;

            a {
                background-color: rgba(0, 0, 255, 0.7);
            }
        }

        &-4 {
            background-image: url(../img/bg-prog-4.jpg);

            a {
                background-color: rgba(0, 128, 0, 0.7);
            }
        }

        &-5 {
            background-image: url(../img/bg-prog-5.jpg);

            a {
                background-color: rgba(0, 0, 255, 0.7);
            }
        }

        &-6 {
            background-image: url(../img/bg-prog-6.jpg);
            margin-right: 0;

            a {
                background-color: rgba(255, 0, 0, 0.7);
            }
        }
    }
}

footer {
    & {
        height: 940px;
        margin-top: 50px;
        padding-top: 40px;
        background-image: url('../img/footer-bg.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 0 0;
        clear: both;
    }

    * {
        color: #ffffff;
    }

    h2 {
        text-transform: uppercase;
        margin-bottom: 70px;
        display: block;
        font-size: 27px;
        text-align: center;
        position: relative;

        &:before {
            content: '';
            display: block;
            position: absolute;
            bottom: -40px;
            left: 48%;
            height: 3px;
            background-color: #84d83c;
            width: 50px;
        }
    }

    h3 {
        font-size: 27px;
        font-weight: 600;
        color: $green;
    }

    .adress {
        & {
            width: 100%;
            margin-bottom: 50px;
            float: left;
        }

        p {
            & {
                text-align: center;
                margin-bottom: 10px;
                font-size: 21px;
            }

            span {
                font-size: 45px;
                margin-right: 10px;
            }
        }

        .adr, .phone, .mail {
            width: 27%;
            display: block;
            float: left;

            a {
                transition: all .5s ease;
                font-size: 12px;
                text-transform: lowercase;
                text-decoration: none;
                border-bottom: 1px dashed $white;

                &:hover {
                    border-bottom: 1px dashed transparent;
                }
            }
        }

        .adr {
            span {
                font-weight: 600;
                display: block;
                margin-bottom: -15px;
                margin-top: 20px;
            }

            address {
                font-weight: 400;
                font-size: 14px;
            }

            b {
                font-size: 20px;
            }
        }

        .phone {
            & {
                width: 20%;
                margin-left: 10%;
                margin-top: 35px;
            }

            address {
                font-size: 20px;
                margin-bottom: 15px;
            }
        }

        .mail {
            & {
                width: 24%;
                float: right;
            }

            h3 {
                margin-bottom: 3px;
            }

            p {
                text-align: left;
                font-size: 18px;
                margin-bottom: 15px;
            }
        }
    }

    .map {
        clear: both;
    }

    .rights {
        & {
            width: 100%;
            padding: 40px 40px 40px 20px;
        }

        .soc {
            float: right;
        }
    }
}